USE [master]
GO
/****** Object:  Database [QLiNhaHang]    Script Date: 12/2/2024 12:59:31 PM ******/
CREATE DATABASE [QLiNhaHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLiNhaHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLiNhaHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLiNhaHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLiNhaHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLiNhaHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLiNhaHang]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 12/2/2024 12:59:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[maBan] [nvarchar](3) NOT NULL,
	[soLuongGhe] [int] NULL,
	[khuVuc] [nvarchar](50) NULL,
	[trangThaiBan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHD_MonAn]    Script Date: 12/2/2024 12:59:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHD_MonAn](
	[maHD] [nvarchar](12) NOT NULL,
	[maMonAn] [nvarchar](4) NOT NULL,
	[soLuong] [int] NULL,
	[thanhTien] [float] NULL,
	[ghiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_ChiTietHD_MonAn] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[maMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/2/2024 12:59:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHD] [nvarchar](12) NOT NULL,
	[ngayTaoHD] [date] NULL,
	[trangThaiHoaDon] [nvarchar](50) NULL,
	[ngayDat] [date] NULL,
	[maBan] [nvarchar](3) NULL,
	[maNV] [nvarchar](12) NULL,
	[maKH] [nvarchar](11) NULL,
	[tienCoc] [float] NULL,
	[gioDatBan] [time](7) NULL,
	[maKM] [nvarchar](5) NULL,
	[tongTien] [float] NULL,
	[soLuongKH] [int] NULL,
	[hinhThuc] [nvarchar](50) NULL,
	[checkIn] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/2/2024 12:59:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKH] [nvarchar](11) NOT NULL,
	[tenKH] [nvarchar](100) NULL,
	[sDT] [nvarchar](10) NULL,
	[diemTichLuy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 12/2/2024 12:59:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[maKM] [nvarchar](5) NOT NULL,
	[tenKM] [nvarchar](100) NULL,
	[ngayHetHan] [date] NULL,
	[ngayBatDau] [date] NULL,
	[phanTramGiam] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[maKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiMonAn]    Script Date: 12/2/2024 12:59:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiMonAn](
	[maLoai] [nvarchar](2) NOT NULL,
	[tenLoai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 12/2/2024 12:59:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[maMonAn] [nvarchar](4) NOT NULL,
	[tenMonAn] [nvarchar](50) NULL,
	[gia] [float] NULL,
	[trangThaiMonAn] [nvarchar](50) NULL,
	[VAT] [float] NULL,
	[maLoai] [nvarchar](2) NULL,
	[tenLoai] [nvarchar](100) NULL,
	[hinhAnh] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/2/2024 12:59:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [nvarchar](12) NOT NULL,
	[tenNV] [nvarchar](100) NULL,
	[gioiTinh] [bit] NULL,
	[sDT] [nvarchar](10) NULL,
	[chucVu] [nvarchar](20) NULL,
	[trangThai] [nvarchar](50) NULL,
	[ngayVaoLam] [date] NULL,
	[ngayNghiLam] [date] NULL,
	[ngaySinh] [date] NULL,
	[question] [nvarchar](100) NULL,
	[answer] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/2/2024 12:59:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[tenDangNhap] [nvarchar](12) NOT NULL,
	[matKhau] [varchar](255) NULL
	PRIMARY KEY CLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ban] ([maBan], [soLuongGhe], [khuVuc], [trangThaiBan]) VALUES (N'A01', 2, N'A', N'TRONG')
INSERT [dbo].[Ban] ([maBan], [soLuongGhe], [khuVuc], [trangThaiBan]) VALUES (N'A02', 2, N'A', N'TRONG')
INSERT [dbo].[Ban] ([maBan], [soLuongGhe], [khuVuc], [trangThaiBan]) VALUES (N'A03', 2, N'A', N'TRONG')
GO
INSERT [dbo].[ChiTietHD_MonAn] ([maHD], [maMonAn], [soLuong], [thanhTien], [ghiChu]) VALUES (N'HDA011223001', N'FO06', 1, 240000, N'')
INSERT [dbo].[ChiTietHD_MonAn] ([maHD], [maMonAn], [soLuong], [thanhTien], [ghiChu]) VALUES (N'HDA011223001', N'FO08', 1, 150000, N'')
INSERT [dbo].[ChiTietHD_MonAn] ([maHD], [maMonAn], [soLuong], [thanhTien], [ghiChu]) VALUES (N'HDA011224001', N'DR02', 1, 20000, N'')
GO
INSERT [dbo].[HoaDon] ([maHD], [ngayTaoHD], [trangThaiHoaDon], [ngayDat], [maBan], [maNV], [maKH], [tienCoc], [gioDatBan], [maKM], [tongTien], [soLuongKH], [hinhThuc], [checkIn]) VALUES (N'HDA011223001', CAST(N'2023-12-01' AS Date), N'DA_THANH_TOAN', CAST(N'2023-11-30' AS Date), N'A01', N'NVTN01012401', N'KH230924008', 195000, CAST(N'08:15:00' AS Time), NULL, 421200, 2, N'DAT_BAN_TRUOC', 1)
INSERT [dbo].[HoaDon] ([maHD], [ngayTaoHD], [trangThaiHoaDon], [ngayDat], [maBan], [maNV], [maKH], [tienCoc], [gioDatBan], [maKM], [tongTien], [soLuongKH], [hinhThuc], [checkIn]) VALUES (N'HDA011224001', CAST(N'2024-12-01' AS Date), N'DA_THANH_TOAN', CAST(N'2024-12-01' AS Date), N'A02', N'NVTN03112401', N'KH000', 0, CAST(N'23:52:00' AS Time), NULL, 562000, 2, N'DAT_BAN', 1)
INSERT [dbo].[HoaDon] ([maHD], [ngayTaoHD], [trangThaiHoaDon], [ngayDat], [maBan], [maNV], [maKH], [tienCoc], [gioDatBan], [maKM], [tongTien], [soLuongKH], [hinhThuc], [checkIn]) VALUES (N'HDA021224006', CAST(N'2024-12-02' AS Date), N'BI_HUY', CAST(N'2023-11-15' AS Date), N'A02', N'NVTN03112401', N'KH201024018', 621000, CAST(N'09:00:00' AS Time), NULL, 1349200, 2, N'DAT_BAN_TRUOC', 0)
GO
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [sDT], [diemTichLuy]) VALUES (N'KH000', N'Khách Vãng Lai', NULL, 0)
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [sDT], [diemTichLuy]) VALUES (N'KH031124001', N'Huỳnh Nam', N'0919104794', 385)
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [sDT], [diemTichLuy]) VALUES (N'KH121024019', N'Đỗ Thị Sang', N'0936469061', 0)
GO
INSERT [dbo].[KhuyenMai] ([maKM], [tenKM], [ngayHetHan], [ngayBatDau], [phanTramGiam]) VALUES (N'KM001', N'Ngày phụ nữ', CAST(N'2024-10-21' AS Date), CAST(N'2024-10-20' AS Date), 0.1)
INSERT [dbo].[KhuyenMai] ([maKM], [tenKM], [ngayHetHan], [ngayBatDau], [phanTramGiam]) VALUES (N'KM002', N'Noel-Giáng sinh', CAST(N'2024-12-30' AS Date), CAST(N'2024-12-01' AS Date), 0.1)
INSERT [dbo].[KhuyenMai] ([maKM], [tenKM], [ngayHetHan], [ngayBatDau], [phanTramGiam]) VALUES (N'KM003', N'Ngày khai trương', CAST(N'2024-10-14' AS Date), CAST(N'2024-10-13' AS Date), 0.2)
GO
INSERT [dbo].[LoaiMonAn] ([maLoai], [tenLoai]) VALUES (N'AC', N'Rượu bia')
INSERT [dbo].[LoaiMonAn] ([maLoai], [tenLoai]) VALUES (N'DR', N'Đồ uống')
INSERT [dbo].[LoaiMonAn] ([maLoai], [tenLoai]) VALUES (N'FO', N'Thức ăn')
GO
INSERT [dbo].[MonAn] ([maMonAn], [tenMonAn], [gia], [trangThaiMonAn], [VAT], [maLoai], [tenLoai], [hinhAnh]) VALUES (N'AC01', N'Bia Sài Gòn Lager ', 12000, N'SANCO', 10, N'AC', N'Rượu bia', N'sgLarger.png')
INSERT [dbo].[MonAn] ([maMonAn], [tenMonAn], [gia], [trangThaiMonAn], [VAT], [maLoai], [tenLoai], [hinhAnh]) VALUES (N'AC02', N'Bia Sài Gòn Export', 13000, N'SANCO', 10, N'AC', N'Rượu bia', N'sgExpert.png')
INSERT [dbo].[MonAn] ([maMonAn], [tenMonAn], [gia], [trangThaiMonAn], [VAT], [maLoai], [tenLoai], [hinhAnh]) VALUES (N'AC03', N'Bia Sài Gòn Chill', 18000, N'SANCO', 10, N'AC', N'Rượu bia', N'sgChill.png')
GO
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [gioiTinh], [sDT], [chucVu], [trangThai], [ngayVaoLam], [ngayNghiLam], [ngaySinh], [question], [answer]) VALUES (N'NVQL24102402', N'Nguyễn Hồ Việt Khoa', 1, N'0812777990', N'Quản lý', N'DANG_LAM', CAST(N'2024-11-11' AS Date), NULL, CAST(N'2004-10-14' AS Date), N'Màu sắc yêu thích của bạn là gì?', N'xanh lá')
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [gioiTinh], [sDT], [chucVu], [trangThai], [ngayVaoLam], [ngayNghiLam], [ngaySinh], [question], [answer]) VALUES (N'NVTN01012401', N'Nguyễn Thanh Tú', 1, N'0312345678', N'Nhân viên', N'DANG_LAM', CAST(N'2024-01-01' AS Date), NULL, CAST(N'2004-11-11' AS Date), N'Màu sắc yêu thích của bạn là gì?', N'hồng')
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [gioiTinh], [sDT], [chucVu], [trangThai], [ngayVaoLam], [ngayNghiLam], [ngaySinh], [question], [answer]) VALUES (N'NVTN03112401', N'Lê Gia Khánh', 0, N'0812398767', N'Nhân viên', N'DANG_LAM', CAST(N'2024-11-03' AS Date), NULL, CAST(N'2004-02-14' AS Date), N'Món uống yêu thích của bạn là gì?', N'bia hơi')
GO
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [matKhau]) VALUES (N'NVTN01012401', N'$2a$10$Z.fFqy7jjuG297u7AhZkaeZhH1N6MsSNBbsAx6TMF2A8nLXF0XcmC')
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [matKhau]) VALUES (N'NVQL24102402', N'$2a$10$6QNt2JklRIPs90/2WNR5pubF8mjJoFEM2B.m/StlV9fo1/XzE1g8q')
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [matKhau]) VALUES (N'NVTN03112401', N'$2a$10$Haee5q0RgC3cYBH0ClDEzeR4rzk0t0L7DM1YsrBr6zkwv1DfT0C4G')
GO
ALTER TABLE [dbo].[ChiTietHD_MonAn]  WITH CHECK ADD FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[ChiTietHD_MonAn]  WITH CHECK ADD FOREIGN KEY([maMonAn])
REFERENCES [dbo].[MonAn] ([maMonAn])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maBan])
REFERENCES [dbo].[Ban] ([maBan])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maKM])
REFERENCES [dbo].[KhuyenMai] ([maKM])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD FOREIGN KEY([maLoai])
REFERENCES [dbo].[LoaiMonAn] ([maLoai])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([tenDangNhap])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
USE [master]
GO
